


.contacts {
	font-size: 0;
	position: relative;
	text-align: right;
}

.contacts_img {
	display: block;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 40%;

	img {
		width: 100%;
	}
}

.contacts_links {
	display: inline-block;
	font-size: 10px;
	padding: 0 0 0 4em;
	vertical-align: top;
	width: 60%;

	> a,
	> a:visited {
		border: 1px solid $c_grey_bg;
		color: #000;
		display: block;
		font-size: 1.2em;
		letter-spacing: .2em;
		margin: 0 0 1em;
		padding: 1.2em 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: .3s ease-in-out;

		&:hover {
			background-color: $c_grey_bg;
			color: #fff;
		}

		&:last-child {
			margin: 0;
		}

		span {
			font-family: $font_gotham_med;
		}
	}
}

.contacts_links_desc {
	color: #000;
	font-size: 1.6em;
	letter-spacing: .05em;
	margin: 0 0 2em;
	text-align: left;
	text-transform: uppercase;
}


