


.center {
	text-align: center;
	text-indent: 0;
}

.clear {
	clear: both;
}



.floatleft {
	float: left;
}

.floatright {
	float: right;
}



.fs0 {
	font-size: 0;
}

.fs10 {
	font-size: 10px;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px;
}

.fs15 {
	font-size: 15px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs24 {
	font-size: 24px;
}

.fs28 {
	font-size: 28px;
}



.hidden {
	display: none;
}

.ib {
	display: inline-block;
}

.inline_block {
	display: inline-block;
}

.justify {
	text-align: justify;
}

.left {
	text-align: left;
	text-indent: 0;
}

.no_js {
	.div_center_1 {
		position: relative;
	}

	.fa {
		display: none;
	}

	.reviews_slider_item {
		margin-bottom: 100px;
	}
}

.nobr {
	white-space: nowrap;
}

.right {
	text-align: right;
	text-indent: 0;
}



.vm {
	vertical-align: middle;
}

.vt {
	vertical-align: top;
}



.w30 {
	width: 30%;
}

.w33 {
	width: 33%;
}

.w40 {
	width: 40%;
}

.w50 {
	width: 50%;
}

.w60 {
	width: 60%;
}

.w80 {
	width: 80%;
}

.w100 {
	width: 100%;
}


