<!DOCTYPE html>

<html lang="ru">

<head>
	<title>One of the best villas in Bansko</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="styles.min.css" rel="stylesheet" />

	<!-- all scripts in one document -->
	<script src="all.min.js"></script>
</head>

<body>
	<div class="page">
		<div class="bg">
			<img src="i/bg.jpg" alt="" />
		</div>

		<div class="content">
			<ul class="links">
				<li>
					<a href="//www.airbnb.com/rooms/10076468?guests=1&s=41&user_id=37486863&ref_device_id=6d0c466b2ac2dc4c" target="_blank">VIlla deluxe Pirin Golf Bansko</a>
				</li>

				<li>
					<a href="//www.airbnb.com/rooms/15171487?guests=1&s=41&user_id=37486863&ref_device_id=6d0c466b2ac2dc4c" target="_blank">Shalet deluxe Pirin Golf Bansko</a>
				</li>

				<li>
					<a href="//www.airbnb.com/rooms/15710960?guests=1&s=41&user_id=37486863&ref_device_id=6d0c466b2ac2dc4c" target="_blank">Chalet luxery Pirin Golf Bansko</a>
				</li>

				<li>
					<a href="http://www.booking.com/hotel/bg/villa-ivn-pirin-golf.ru.html?label=gen173nr-1BCAsoF0IUdmlsbGEtaXZuLXBpcmluLWdvbGZIM2IFbm9yZWZoF4gBA5gBIcIBA2FibsgBEdgBAegBAagCBA;sid=b918bdf771410d23f43fc142b55a8605;dist=0&sb_price_type=total&type=total&amp" target="_blank">Villa Ivn Pirin Golf</a>
				</li>
			</ul>
		</div>

		<div class="powered">
			powered by <a href="//foxartbox.com" target="_blank">foxartbox.com</a>
		</div>
	</div>
</body>

</html>

